


/* start of nav design */
  
  .topnav {
    position: relative;
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .topnav-right {
    float: right;
  }
  
  /* Responsive navigation menu (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
    
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }


  /* nav design */

  /* start of page layout */

  .wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
  }
  
  .card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
  }
  
  .card-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
  }

/* end of page layout */

/* footer design */
.footer {
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
  }

  .footer h2 {
    font-size: 20px;
    color: white;
    text-align: center;
}